* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

section {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.snow-man {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translateY(8rem);
}

/* Hat Styles */
.snow-man .hat {
    width: 65px;
    height: 80px;
    background-color: #363636;
    box-shadow: inset -1rem 0 0.75rem #111;
    border-radius: 0.5rem 0.5rem 0 0;
    transform-origin: bottom;
    transform: translateY(0.5rem);
    position: relative;
    z-index: 1;
}

.snow-man .hat::before {
    content: "";
    background-color: #ff6a6a;
    box-shadow: inset -1rem 0 0.75rem #1119;
    top: 2.5rem;
    height: 1rem;
    width: 100%;
    position: absolute;
}

.snow-man .hat::after {
    content: "";
    background-color: #363636;
    box-shadow: inset -1rem 0 0.75rem #111,
                0 -0.2rem 0.2rem -0.1rem #fffa;
    bottom: -0.5rem;
    width: 180%;
    height: 0.75rem;
    left: -40%;
    position: absolute;
    border-radius: 0.5rem;
}

/* Head Styles */
.snow-man .head {
    --cut-point: 88px;
    position: relative;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset -1rem 0 2rem #0007;
    clip-path: polygon(0% 0%,
               100% 0%,
               100% var(--cut-point),
               0% var(--cut-point));
}

.snow-man .head::before,
.snow-man .head::after {
    --pos-x: 1.8rem;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: #242424;
    position: absolute;
    top: 2.75rem;
    border-radius: 50%;
}

.snow-man .head::before {
    left: var(--pos-x);
}

.snow-man .head::after {
    right: var(--pos-x);
}

/* Scarf Styles (labeled as .scarp in HTML) */
.snow-man .scarp {
    width: 128px;
    height: 1.25rem;
    background-color: #ff6a6a;
    border-radius: 1rem;
    position: absolute;
    top: 164px;
    z-index: 2;
    box-shadow: inset -1rem 0 1rem #0007,
                0 0 0.5rem #fff8;
}

/* Body Styles */
.snow-man .body {
    --cut-point: 20px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    clip-path: polygon(0% var(--cut-point),
               100% var(--cut-point),
               100% 100%,
               0% 100%);
    transform: translateY(-36px);
    box-shadow: inset -2rem 0 3rem #0007;
}

.snow-man .body::before,
.snow-man .body::after {
    content: "";
    position: absolute;
    left: 95px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 30px 0 #000;
}

.snow-man .body::before {
    top: 50px;
}

.snow-man .body::after {
    top: 110px;
}